h1 {
  text-align: center;
}

form {
  background-color: azure;
  display: grid;
  gap: 8px;
  width: 500px;
  height: 100px
  /* width: 400px;
  height: 400px; */
}

form div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

span {
  font-size: 14px;
  margin-bottom: 8px;
}

.error {
  color: red;
}

.no-error {
  color: black;
}